
body {
    margin: 0;
    font-size: 0.5em;
    font-family: 'Quattrocento', serif;
  }
  
  .wrapper {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  p{
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 2px;
    padding-left: 30px;
    
  }
  
  #p1 {
    transform: rotate(-10deg);
    font-size: 2rem;    
  }
  
  #p2 {
    transform: rotate(-20deg);
    font-size: 1.9rem;
  }
  
  #p3 {
    transform: rotate(-30deg);
    font-size: 1.8rem;
  }
  
  #p4 {
    transform: rotate(-40deg);
    font-size: 1.7rem;
  }
  
  #p5 {
    transform: rotate(-50deg);
    font-size: 1.6rem;
  }
  
  #p6 {
    transform: rotate(-60deg);
    font-size: 1.5rem;
  }
   
  #p7 {
    transform: rotate(-70deg);
    font-size: 1.4rem;
  }
  
  #p8 {
    transform: rotate(-80deg);
    font-size: 1.3rem;
  }
  
  #p9 {
    transform: rotate(-90deg);
    font-size: 1.2rem;
  }
  
  #p10{
    transform: rotate(-100deg);
    font-size: 1.1rem;
  }
  
  #p11{
    transform: rotate(-110deg);
    font-size: 1rem;
  }
  
  #p12{
    font-size: 70px;
    padding-top: 300px;
    padding-right: 40px;
    text-align: right;
  }
  
  