body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
    line-height: 30px;
}


.link:link {
    text-decoration: none;
}
.link:visited {
    text-decoration: none;
    
}

.link:hover {
    text-decoration: underline;
}