

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 400px;
  grid-gap: 10px;
}

#one, #two, #three, #four, #five {
  border: 1px solid black;
  padding: 15px;
}

#one {
  background-color:#000000;
  color: rgba(255,255,255,0.5);
}

#special-one {
  color: #000000;
}

#two {
  background-color: #323232;
  color:rgba(0,0,0,0.4);
}

#special-two {
  color: #323232;
}

#three {
  background-color: #666666;
  color: rgba(0,0,0,0.2);
}

#special-three {
  color: #666666;
}

#four {
  background-color: #999999;
  color: rgba(0,0,0,0.1);
}

#special-four {
  color: #999999;
}

#five {
  background-color: #ffffff;
  color: #ffffff;
}

#special-five {
  color: #000000;
}



#author {
  padding-top: 15px;
  margin-bottom: 50px;
}